.full-layout {
    width: 100vw;
    height: 100vh;
}

.trigger {
    font-size: 24px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 5px;
    width: 100vw;
}

.menu-title {
    color: blueviolet;
    font-size: 28px;
    font-weight: bold;
}

.ant-menu-submenu-title {
    height: 65px !important;
    line-height: 65px !important;
    font-size: 18px !important;
}
.ant-menu-item {
    height: 65px !important;
    line-height: 65px !important;
    font-size: 18px !important;
}

.login-form {
    width: 368px;
    margin: 0 auto;
}

.login-form-button {
    width: 100%;
    margin: 12px 0;
}

.user-img {
    margin: 110px 0 26px 0;
    font-size: 28px;
    text-align: center;
}

.login-title {
    font-size: 28px;
    text-align: center;
}


